#team
  @extend %section

  .members, .featured
    display: flex
    flex-wrap: wrap

    .member
      flex: 1 1 50%
      text-align: center
      min-height: 5em

      +media($bp-small)
        flex-basis: 33%
