/* WHO WE ARE */
.team
  @extend %section
  @extend %container

  &__blurb
    text-align: center

  &__members
    display: flex
    flex-wrap: wrap

  &__member
    flex: 1 1 50%
    text-align: center
    min-height: 5em

    +media($bp-small)
      flex-basis: 33%

// .team
//   @extend %section
//
//   &__members
//     @extend %container
//
//   &__member
//     +span-columns(6)
//     +omega(2n)
//
//     +media($bp-small)
//       +omega-reset(2n)
//       +span-columns(4)
//       +omega(3n)
