<section id="achievements" class="section bg-center bg-no-repeat" style="background: url(assets/images/stairs.jpg);background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/images/stairs.jpg) center center no-repeat;">
  <h1 class="section-heading text-white ">{{metrics.heading}}</h1>
  <div class="wrapper">

    <div class="flex flex-col justify-center col-start-2 col-span-3 w-full space-y-4 md:flex-row md:flex-no-wrap md:justify-around md:col-span-12 md:space-y-0">

      {%- for item in metrics.info -%}
        <div class="flex items-center md:items-start">
          <span class="w-20 h-20 p-2 rounded-md bg-blue-darkest text-white">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-full h-full" role="img" aria-hidden="true">
              <title>{{item.icon}}</title>
              <use xlink:href="#{{item.icon}}"></use>
            </svg>
          </span>
          <div class="ml-4 space-y-1">
            <span class="block text-xl md:text-xl lg:text-2xl leading-none text-white uppercase text-shadow">{{item.intro}}</span>
            <span class="block text-xl md:text-2xl lg:text-4xl leading-none text-blue text-shadow">{{ item.number }}</span>
            <span class="block text-xl md:text-xl lg:text-2xl leading-none text-white uppercase text-shadow">{{ item.text }}</span>
          </div>
        </div>
      {%- endfor -%}

    </div>

    {% blurb %}
    <p class="pt-8 text-white">{{metrics.blurb}}</p>
    {% endblurb %}
  </div>
</section>