<footer id="footer" class="p-5 text-center text-white bg-blue-darker">

  <div>
    <a class="text-white" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-16 h-16 fill-current" role="img" aria-hidden="true">
        <title>Education Planners Logo</title>
        <use xlink:href="#logo"></use>
      </svg>
    </a>
  </div>

  <div class="c-footer__location">
    <p>
      <strong>Our Location:</strong><br>
      57 Waddell Street<br>
      Marietta, Georgia 30060</p>
    <p>
      <strong>Our Phone:</strong><br>
      <a href="tel:6785765333" class="text-white">(678) 576-5333</a>
    </p>
    <p>
      <strong>Our Email:</strong><br>
      <a href="mailto:info@edplanners.org" class="text-white">info@edplanners.org</a>
    </p>
  </div>

</footer>