<footer id="footer" class="p-5 text-center text-white bg-gray-900">

  <div>
    <a class="text-white" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-16 h-16 fill-current" role="img" aria-hidden="true">
        <title>Education Planners Logo</title>
        <use xlink:href="#logo"></use>
      </svg>
    </a>
  </div>

  <address class="vcard not-italic">
    <span class="fn org block font-bold">Education Planners, LLC</span>
    <span class="adr block">
      <span class="street-address">57 Waddell Street</span>
      <span class="locality">Marietta</span>, <span class="region">Georgia</span>
      <span class="postal-code">30060</span></span>
  </span>
  <span class="tel block">
    <a href="tel:6785765333" class="text-white">(678) 576-5333</a>
  </span>
  <span class="email block">
    <a href="mailto:jwilson@edplanners.org" class="text-white">jwilson@edplanners.org</a>
  </span>
</address>
<div>
  <p class="mt-4 mb-0 font-bold">Mailing Address: </p>
  <p>1720 Mars Hill Road<br>
  Suite 124-367<br>
  Acworth, GA 30101<br>
  </p>
</div>

</footer>