<head>
	{% include "meta.njk" %}
	{% include "favicons.html" %}
	<!-- FONT IMPORTS -->
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
