<div style="background-image:url(assets/images/hero.jpg);" class="c-hero h-50vh sm:h-70vh bg-center bg-no-repeat bg-cover">
  <div class="container pt-14 text-right">

    <h1 class="uppercase text-white">
      <span class="block mb-2 text-shadow-hero">Helping the business of education</span>
      <span class="block mb-2 text-4xl leading-hero text-shadow-hero">run smarter</span>
    </h1>

  </div>
</div>