<section
  class="c-quotes section flex flex-col min-h-400px bg-center text-blue bg-no-repeat bg-cover"
  style="background-image: url(assets/images/quotes-bg.jpg);background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/images/quotes-bg.jpg)"
>
  <h1 class="section-heading text-white order-2">{{ quotes.heading }}</h1>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="block mx-auto w-13 h-13 fill-current order-1"
    role="img"
    aria-hidden="true"
  >
    <title>quote icon</title>
    <use xlink:href="#quote"></use>
  </svg>

  <div class="c-carousel order-3">
    <ul id="js-slides" class="c-slides relative sm:w-3/4 sm:mx-auto">
      {%- for quote in quotes.quote_list -%}
        <li id="js-slide-{{loop.index}}" class="c-slide block w-full p-3 text-center text-white">
          <p>&ldquo;{{ quote.quote }}&rdquo;</p>
          <p class="font-bold italic">- {{ quote.author }}</p>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>