<section id="what" class="section bg-gray-100">
  <h1 class="section-heading text-gray-700">{{services.heading}}</h1>

  <div class="wrapper">

    {% blurb %}
    {{services.intro}}
    {% endblurb %}

    {%- include "services.njk" -%}

    {% blurb %}
    {{services.blurb | md | safe}}
    {% endblurb %}

  </div>

</section>