{%- set featured_members = collections.team | where("featured",true) -%}
{%- set members = collections.team | where("featured",undefined) -%}
<section id="who" class="section">
		<div class="container">
				<h1 class="section-heading">{{ team.heading }}</h1>
				<div class="c-blurb">{{ team.blurb | md | safe }}</div>

				<hr class="w-32 mx-auto mt-4 mb-6 border border-grey-lighter clearfix"/>

				{%- for member in featured_members -%}
						<div class="c-member mb-8">
								<div class="text-center">
										<p>
												<a href="{{member.url}}" class="font-bold">{{member.data.name}}</a><br/>
												{{ member.data.position }}<br/>
(<a href="mailto:{{member.data.email}}">{{member.data.email}}</a>)
</p>
								</div>
						</div>
				{%- endfor -%}

				{%- for member in members -%}
						<div class="c-member">
								<div class="text-center">
										<h4>{{member.data.name}}</h4>
										<p>
												<a href="mailto:{{member.data.email}}">{{member.data.email}}</a>
										</p>
								</div>
						</div>
				{%- endfor -%}
		</div>
</section>