<section id="work" class="section">
  <div class="container">
    <h1 class="section-heading">{{work.heading}}</h1>
    <div class="c-blurb">{{work.blurb | md | safe}}</div>
    <div id="js-portfolio" class="c-portfolio container flex flex-wrap mt-6 -mx-3 overflow-hidden">
      {%- for project in work.projects | sort(false, true, 'school') -%}
        <div class="c-portfolio__item my-3 px-3 w-1/3 md:w-1/6 overflow-hidden">
          <!-- project thumbnail link -->
          <div class="w-full h-100px">
            <a class="flex justify-center items-center w-full h-full" href="portfolio.html#{{project.school_id}}" aria-haspopup="dialog" data-component="dialog" data-target="{{project.school_id}}" data-labelledby="{{project.school_id}}-title"
            data-describedby="{{project.school_id}}-content">
              <img src="assets/images/schools/logos/{{project.logo}}" class="block mx-auto max-h-100px" alt="{{project.school}}">
            </a>
          </div>
          <!-- end project thumbnail link -->
          <!-- project detail -->
          {%- include "project.njk" -%}
          <!-- end project detail -->
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>