<footer id="footer" class="c-footer">
  <div class="c-footer__logo">
  	<a class="c-footer__link" href="#top">
  		<svg xmlns="http://www.w3.org/2000/svg" class="c-footer__icon" role="img" aria-labelledby="title">
        <switch>
          <use xlink:href="#logo"></use>
          <foreignObject><img src="assets/images/png_fallback/logo.png" alt="Education Planners logo"></foreignObject>
        </switch>
  		</svg>
  	</a>
  </div>

  <div class="c-footer__location">
    <p><strong>Our Location:</strong><br>358 Roswell Street, Suite 1200 Marietta, Georgia 30060</p>
    <p><strong>Our Phone:</strong><br><a href="tel:6783736656">(678) 373-6656</a></p>
    <p><strong>Our Email:</strong><br><a href="mailto:info@edplanners.org">info@edplanners.org</a></p>
  </div>

</footer>
