<div class="section bg-grey-lightest">
  <div class="container flex flex-wrap lg:flex-no-wrap justify-center lg:justify-around">

    {%- for service in site.data.services -%}
    <div style="flex-basis: 20rem;" class="c-service flex flex-col items-center flex-no-grow flex-shrink w-80 mt-0 mx-3 mb-3 p-4 bg-white">
      <span class="c-service__icon flex items-center justify-center w-32 h-32 mb-3 text-gray border border-grey rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-32 h-32 p-4 fill-current" role="img" aria-hidden="true">
          <title>{{service.icon}}</title>
          <use xlink:href="#{{service.icon}}"></use>
        </svg>
      </span>
      <h2 class="mb-3 text-sm text-gray-darker uppercase">{{ service.name }}</h2>
      <div class="text-grey-dark">

        {%- for item in service.items -%}
        {{ item | replace: '!BASE_URL!', site.baseurl | markdownify }}
        {%- endfor -%}

      </div>
    </div>
    {%- endfor -%}
  </div>
</div>