<section id="who" class="section">
	<div class="container">

		<h1 class="section-heading">The Team</h1>
		<div class="c-blurb">
			{{site.data.info.team | markdownify}}
		</div>

		<hr class="w-32 mx-auto mt-4 mb-6 border border-grey-lighter clearfix">

		{%- assign featured_members = site.team | where:"featured",true -%}
		{%- for member in featured_members -%}
		<div class="c-member mb-8">
			<div class="text-center">
				<p><a href="{{site.baseurl}}{{member.url}}" class="font-bold">{{member.name}}</a><br>
					{{ member.position }}<br>
					(<a href="mailto:{{member.email}}">{{member.email}}</a>)</p>
			</div>
		</div>
		{%- endfor -%}

		{%- assign members = site.team -%}
		{%- for member in members -%}
		{%- if member.featured -%}
		{%- continue -%}
		{%- endif -%}
		<div class="c-member">
			<div class="text-center">
				<h4>{{member.name}}</h4>
				<p><a href="mailto:{{member.email}}">{{member.email}}</a></p>
			</div>
		</div>
		{%- endfor -%}

	</div>

</section>