---
layout: default
---
<section class="o-section c-resume">
  <div class="o-container">
    <h1 class="c-resume__name">{{page.name}}</h1>
    <h2 class="c-resume__position">{{page.position}}</h2>
    <h3 class="c-resume__meta">LinkedIn: <a href="{{page.linkedin}}" target="_blank">{{page.linkedin}}</a>
    </h3>
    <div class="c-resume__bio">{{content}}</div>
  </div>
</section>