---
layout: default
---
<section class="section c-resume">
  <div class="container">
    <h1 class="mb-7 font-bold text-2xl leading-normal text-center uppercase">{{name}}</h1>
    <p class="mb-0 font-bold">{{position}}</p>
    <p class="mb-0">
      <strong>LinkedIn: </strong>
      <a href="{{linkedin}}" target="_blank">{{linkedin}}</a>
    </p>
    <div class="mt-6 ">{{content | safe}}</div>
  </div>
</section>