.c-achievements {
  color: #fff;
  background: url("images/stairs.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/stairs.jpg) center center no-repeat;
}
