.c-blurb {
  margin: 0 auto;
  text-align: center;

  @include respond-to(small) {
    width: 60%;
  }

  @include respond-to(medium) {
    font-size: 1.1em;
    width: 55%;
  }

  @include respond-to(large) {
    width: 65%;
    font-size: 1.2em;
  }

  &__text {
  }
}
