<section id="about" class="info">
  <div class="info__blurb">
  	{{site.data.info.about | markdownify}}
  </div>
</section>

<section id="achievements" class="achievements">
  <div class="achievements__container">
		<h1>Our Reach</h1>
		<div class="achievements__metrics">
			{% for item in site.data.metrics.info %}
			<div class="achievements__metric">
				<span class="achievements__icon">
          <svg class="achievements__icon-{{ item.icon }}" role="img" aria-labelledby="title"><use xlink:href="#{{item.icon}}"></use></svg>
        </span>
				<p class="achievements__number">{{ item.number }}</p>
				<p class="achievements__text">{{ item.text }}</p>
			</div>
			{% endfor %}
      <p class="achievements__blurb">{{site.data.metrics.blurb}}</p>

		</div>
  </div>
</section>
