<section id="contact">
	<h1>Contact</h1>
	<div class="contact-container">
		<div class="location">
			<h2>Our Location:</h2>
			<p>358 Roswell Street, Suite 1200 Marietta, Georgia 30060</p>
			<h2>Our Phone:</h2>
			<p><a href="tel:6788944699">(678)894-4699</a></p>
			<h2>Our Email:</h2>
			<p><a href="mailto:info@edplanners.org">info@edplanners.org</a></p>
		</div>
		<form action="" id="form-contact">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" placeholder="Name">
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" placeholder="Email">
			<label for="subject">Subject:</label>
			<input type="text" id="subject" name="subject" placeholder="Subject">
			<label for="message">Message:</label>
			<textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
	    <input type="submit" value="Send">
		</form>
	</div>
</section>