<footer id="footer" class="footer">
  <div class="footer__logo">
  	<a class="footer__link" href="#top">
  		<svg xmlns="http://www.w3.org/2000/svg" class="footer__icon" role="img" aria-labelledby="title">
        <switch>
          <use xlink:href="#logo"></use>
          <foreignObject><img src="assets/images/png_fallback/logo.png"></foreignObject>
        </switch>
  		</svg>
  	</a>
  </div>

  <div class="footer__location">
    <h2>Our Location:</h2>
    <p>358 Roswell Street, Suite 1200 Marietta, Georgia 30060</p>
    <h2>Our Phone:</h2>
    <p><a href="tel:6788944699">(678)894-4699</a></p>
    <h2>Our Email:</h2>
    <p><a href="mailto:info@edplanners.org">info@edplanners.org</a></p>
  </div>

</footer>
