{% assign project = include.proj %}
<div class="project">
  <a class="project__link" href="#{{project.school_id}}"><img src="{{site.baseurl}}/assets/images/schools/logos/{{project.logo}}" class="project__logo" alt="{{project.school}}"></a>

  <div id="{{project.school_id}}" class="project__popup mfp-hide">
    <img src="{{site.baseurl}}/assets/images/schools/logos/{{project.logo}}" class="project__logo" alt="{{project.school}}">
    <h2 class="project__heading">{{project.school}}</h2>

    <div class="project__carousel">
      {% for item in project.projects %}
      <div class="project__item">
        <p><strong>{{item.type}}</strong></p>
        <p class="project__date">{{item.date}}</p>
        <div class="project__info">{{item.info | markdownify}}</div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
