<section id="team" class="team">
	<h1>The Team</h1>
	<div class="team__blurb">
		{{site.data.info.team | markdownify}}
	</div>
	<hr>
	{% assign featured_members = site.team | where:"featured",true %}
	<div class="team__members team__members--featured">
		{% for member in featured_members %}
		<div class="team__member">
			<h4><a href="{{site.baseurl}}{{member.url}}">{{member.name}}</a></h4>
			<p>{{ member.position }}</p>
		</div>
		{% endfor %}
	</div>
	{% assign members = site.team | where:"featured", '' or null or false %}
	<div class="team__members">
		{% for member in members %}
		{% assign thesize = member.content | size %}
		<div class="team__member">
			<p>{% if thesize > 1 %}<a href="{{site.baseurl}}{{member.url}}">{{member.name}}</a>{% else %}{{member.name}}{% endif %}</p>
		</div>
		{% endfor %}
	</div>
</section>
