<section id="what" class="services">
  <div class="services__container">
    <h1>What We Do</h1>
    <div class="services__blurb">
      {{site.data.info.what | markdownify}}
    </div>
    <div class="services__items">
    	{% for service in site.data.services %}
    	<div class="services__item service">
    		<span class="service__icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="service__icon-{{ service.icon }}" role="img" aria-labelledby="title">
            <switch>
              <use xlink:href="#{{service.icon}}"></use>
              <foreignObject><img src="assets/images/png_fallback/{{service.icon}}.png"></foreignObject>
            </switch>
          </svg>
        </span>
    		<h2 class="service__name">{{ service.name }}</h2>
    		<div class="service__list">
    			{% for item in service.items %}
    			{{ item | markdownify }}
    			{% endfor %}
    		</div>
    	</div>
    	{% endfor %}
    </div>
  </div>
</section>
