<section id="work" class="portfolio">
  <h1>Our Work</h1>
  <div class="portfolio__container">
  	<a href="#"><img src="http://lorempixel.com/200/200/business" alt=""></a>
  	<a href="#"><img src="http://lorempixel.com/200/200/abstract" alt=""></a>
  	<a href="#"><img src="http://lorempixel.com/200/200/technics" alt=""></a>
  	<a href="#"><img src="http://lorempixel.com/200/200" alt=""></a>
</section>

<section class="quotes">
	<svg class="quotes__icon" role="img" aria-labelledby="title">
	  <use xlink:href="#quote"></use>
  </svg>
  <h1>What Our Clients Say</h1>
  <div class="carousel">
  {% for quote in site.data.quotes %}
  	<div class="carousel__item">
			<p class="carousel__quote">&ldquo;{{ quote.quote }}&rdquo;</p>
			<p class="carousel__author">- {{ quote.author }}</p>
		</div>
	{% endfor %}
	</div>
</section>
