/* NAVIGATION */
$color-navigation__bg: #fff;
$color-nav__link: $color__gray;
$color-nav__link--hover: $color__primary--dark;

$navigation-padding: 1em;
$navigation-height: 100px;
$navigation-resize: 60px;
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;

.navigation {
  position: relative;
  background-color: $color-navigation__bg;

  &__logo {
    height: $navigation-height;
    line-height: $navigation-height;
    transition: all 0.3s;
    //width: 300px;
    //display: block;
    display: inline-block;
    padding: 0 em(10);

    @include respond-to(horizontal-bar-mode) {
      float: left;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      transition: all 0.3s;
      width: 300px;
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    z-index: 2;

    @include respond-to(horizontal-bar-mode) {
      display: none;
    }
  }

  &__items {
    //display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: $color-navigation__bg;
    border-top: 1px solid #000;
    transform: translateY(-100%);
    transition: transform .4s;
    z-index: -2;
    &.open {
      transform: translateY(0);

    }

    @include respond-to(horizontal-bar-mode) {
      position: relative;
      display: flex;
      flex-direction: row;
      width: auto;
      height: initial;
      margin: 0;
      padding: 0;
      background-color: #fff;
      border-top: none;
      transform: translateY(0);
      transition: none;
      z-index: 0;
    }

    &--visible {
      display: block;
    }
  }

  &__item {
    border-bottom: solid 1px black;
    //background-color: $color__primary--light;

    @include respond-to (horizontal-bar-mode) {
      flex: 1;
      border-bottom: none;
      line-height: $navigation-height;
      background-color: $color-navigation__bg;
    }
  }

  &__link {
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: em(10);
    background-color: $color__primary--light;
    transition: all 0.4s;

    &:hover,
    &--active {
      color: $color__primary--dark;
      background-color: #fff
    }

    @include respond-to(horizontal-bar-mode) {
      color: $color-nav__link;
      background-color: $color-navigation__bg;
      padding: 0;
    }

  }

  &.is-small {
    .navigation__logo {
      height: $navigation-resize;
      line-height: $navigation-resize;

      img {
        width: 225px;

        @include respond-to(horizontal-bar-mode) {
          width: 75%;
          line-height: $navigation-resize;
        }
      }
    }

    .navigation__item {
      @include respond-to(horizontal-bar-mode) {
        line-height: $navigation-resize;
      }
    }
  }
}
