/* FOOTER */
$color-footer__background: $color__primary--dark;
$color-footer__icon: #fff;

.c-footer {
  min-height: em(75);
  background-color: $color-footer__background;
  padding: em(20);
  text-align: center;
  color: white;

  &__icon {
    display: inline-block;
    @include size(50px);
    fill: $color-footer__icon;
  }
}
