body {
  font-family: $font__family--sans;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__family--sans;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  // &:active,
  // &:focus,
  // &:hover {
  //   color: shade($action-color, 25%);
  // }
}

h1 {
  font-size: modular-scale(1);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.75em;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: em(8);
}
