---
layout: default
meta_title: Helping schools run smarter.
meta_description: Education Planners is an educational consulting firm helping school districts across the Southeast handle organizational challenges & operate more efficiently.
---
{% include "hero.njk" %}
{% include "about.njk" %}
{% include "achievements.njk" %}
{% include "what.njk" %}
{% include "work.njk" %}
{% include "quotes.njk" %}
{% include "who.njk" %}
{% include "location.html" %}