---
layout: default
meta_title: Helping schools run smarter.
meta_description: Education Planners is an educational consulting firm helping school districts across the Southeast handle organizational challenges & operate more efficiently.
---
{% include "hero.njk" %}
{% include "about.html" %}
{% include "achievements.html" %}
{% include "what.html" %}
{% include "work.html" %}
{% include "quotes.html" %}
{% include "who.html" %}
{% include "location.html" %}
