<!DOCTYPE html>
<html lang="en-ca">
{% include "head.njk" %}
<body class="pt-60px font-sans text-grey-darker antialiased leading-normal">
	<!-- include svg sprite -->
	<span style="display:none;">{% include "svg/sprite.symbol.svg" %}</span>
	{%- if page.inputPath == 'index.html' -%}
	{% include "header.njk" %}
	{%- else -%}
	{%- set base = "index.html" -%}
	{% include "header.njk" %}
	{%- endif -%}
	<main>
		{{ content | safe }}
	</main>
	{% include "footer.njk" %}

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXu7vUqT900bOlBAFLTUedjWQQg1tHHxI"></script>
<script src="{{site.baseurl}}/assets/bundle.js"></script>

</html>
